<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-lg-3">My Items Count :
                <span class="text-strong" ng-bind="countData"></span>
            </div>
            <div class="col-lg-3">
                <a ui-sref="reviewItems">Review Items</a>
            </div>
            <div class="col-lg-6 text-right" ng-if="customer">Welcome {{customer.firstname +" " +customer.lastName}} |
                <a href="#">Profile</a> | <a href="#" ng-click="logoutClick()">Logout</a>
            </div>
        </div><br>
        <div class="clearfix row">
            <div><input type="text" class="form-control" ng-model="searchItem" ng-click="searchInputEnter()" placeholder="Search item"></div>
        </div>
        <br>
    </div>
</nav>
<br/><br/><br/><br/><br/><br/><br/>

<modal targetid="'filterModal'">
    <modal-heading>Filter Items</modal-heading>
    <modal-body>
        <div class="row nopadding">
            <div class="row nopadding">
                <h4>Choose Category : </h4>
                <input type="checkbox" ng-model="filterCategory.veg" ng-true-value="'VEG'" ng-false-value=""> VEG
                <input type="checkbox" ng-model="filterCategory.nonveg" ng-true-value="'NONVEG'" ng-false-value=""> NONVEG
                <input type="checkbox" ng-model="filterCategory.eggie" ng-true-value="'EGGIE'" ng-false-value=""> EGGIE
            </div><br /><br />
            <article>
                <h4>Price Range : </h4>
                <rzslider data-rz-slider-model="rangePrice.minValue" data-rz-slider-high="rangePrice.maxValue" data-rz-slider-options="rangePrice.options"></rzslider>
            </article>
        </div>

    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Filter</button>
    </modal-footer>
</modal>


<div class="clearfix row">

    <ul class="list-group" ng-repeat="menu in menus" ng-if="showSearchItems">
        <li class="list-group-item">
            <div aria-controls="collapseExample" aria-expanded="false" class="alert alert-warning" data-toggle="collapse" ng-attr-href="#{{menu.id}}" role="button">
                <h4><span class="glyphicon glyphicon-cutlery"></span> Restaurant Name :
                    {{ menu.restaurantName }}</h4>
            </div>

            <div class="row nopadding">
                <!-- TABSET -->
                <div class="row nopadding">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filterModal">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                        <button type="button" class="btn btn-default" ng-click="clearFilter()">
                        <span class="glyphicon glyphicon-remove"></span> Clear Filter
                    </button></div>
                </div>
                <tabset>
                    <tab showtab="{{ShowCategoryNames}}" heading="{{section.name}}" ng-repeat="section in menu.sections">
                        <div ng-repeat="category in section.categories | SectionFilter:filterCategory" role="presentation">
                            <h3 ng-show="ShowCategoryNames">{{category.name}}</h3>

                            <gpitem items="category.items"></gpitem>
                        </div>
                    </tab>
                </tabset>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </li>
    </ul>
</div>