<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-lg-3">My Items Count :
                <span class="text-strong" ng-bind="countData"></span></div>
            <div class="col-lg-5">
                <a ui-sref="menu">Back to MENU</a>
            </div>
            <div class="col-lg-4 text-right padding-lr">
                <button class="btn btn-primary pull-right" ng-click="confirmItems()">Confirm Items</button></div>
        </div>
    </div>
</nav>
<br />
<br />
<br/>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning" role="alert">
            <h4 class="warning">Pending Items   <span class="pull-right">Items :  <span class="badge">{{ pendingItemCount }}</span></span> </h4>
        </div>
        <ul class="list-group" ng-repeat="item in myItems">
            <li class="list-item-group">
                <h4>{{item.name}} <span class="col-sm-offset-2"> <span ng-bind-html="item.price | currency:'Rs':$parent.recommendItem"></span>
                    <span class="pull-right">
                            <span class="glyphicon glyphicon-minus"
                                    ng-click="$root.itemRemove(item)"></span>
                    <span>{{item.itemCount}}</span>
                    <span class="glyphicon glyphicon-plus" ng-click="$root.itemAdd(item)"></span>
                    </span> 
                </h4>
                <p><a ng-click="addPreference(item)" class="btn btn-link">Add Prefernces</a> | <a ng-click="removeItem(item)" class="btn btn-link btn-danger">Remove Item</a></p>
            </li>
        </ul>
        <br />
        <div class="alert alert-success" role="alert">
            <h4 class="success">Confirmed Items <span class="pull-right">Items :  <span class="badge"> {{ confirmedItemCount }}</span></span> </h4>
        </div>
        <ul class="list-group" ng-repeat="item in myItems" ng-show="(item.isConfirmed && item.confirmedCount >= 1)">
            <li class="list-item-group">
                <h4>{{item.name}} <span class="col-sm-offset-2"> <span ng-bind-html="item.price | currency:'Rs':$parent.recommendItem"></span>
                    <span class="pull-right">
                    <span>{{item.confirmedCount}}</span>
                    </span> 
                </h4>
                <p><a ng-click="addPreference(item)" class="btn btn-link">Add Prefernces</a> | <a ng-click="removeItem(item)" class="btn btn-link btn-danger">Remove Item</a></p>
            </li>
        </ul>
    </div>
</div>
</br>
</br>
</br>
</br>
<!-- Button trigger modal -->

<!----- MODAL ADD PREFERNCE -------->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Your Preferences</h4>
            </div>
            <div class="modal-body">
                <h5>You want to add some preferences to <strong>{{pItem.name}}</strong></h5>
                <h4>Spicy  </h4>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Low" ng-model="pItem.preferences.spicy"> Low
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Medium" ng-model="pItem.preferences.spicy"> Medium
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="High" ng-model="pItem.preferences.spicy"> High
                    </label>
                </div><br />
                <h4> Write your Own preference </h4>
                <p>
                    <textarea class="form-control" rows="3" ng-model="pItem.preferences.userOwnPreference"></textarea>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="savePreference(pItem)">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->