<form>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <button  color="primary" md-raised-button="" 
                    (click)="getCustomers()">Get Customers List</button>
                <button  color="accent" md-raised-button="" 
                    (click)="getCustomerById()">GET Customer</button> 
            </div>
            <hr />
            <div class="clearfix"></div>

            <div class="row" *ngFor='let item of people; let i = index'> 
                <div class='row'>
                   <div class="col-lg-12"> 
                        {{i}} - {{item.email }} -{{item.id}}
                        </div>
                        <!-- (click)="onSelect(item.id)" -->
                    <div class="col-lg-12">
                        <button color="warn" md-raised-button="" 
                            routerLink="/signup/{{item.id}}" routerLinkActive="active">Edit</button>

                        <button color="warn" md-raised-button="" 
                            (click)="removeUser(item.id)">Remove</button>

                        <button color="accent" md-raised-button="" 
                            (click)="updateUser(item.id, customer)">Update</button>

                        <button color="primary" md-raised-button="" 
                            (click)="getCustomerById(item.id)">Get Details</button>
                    </div>
                    <div class="row" *ngIf="Userdetails && Userdetails.id == item.id" >
                        {{ Userdetails.email }}
                    </div>

                </div> <br />
        </div>
        </div>
        <div class="col-lg-8">
            
            <md-card class="demo-card demo-basic">
                <md-card-content >
                    <div class="text-center">
                        <h2>
                            Customer SIGNUP
                        </h2>
                    </div>
                    <br/>
                    <!-- name attribute must declare... -->
                    <div class="col-lg-12">
                        <md-input placeholder="First Name" [(ngModel)]="customer.firstname" name="firstname" type="text" style="width: 100%">
                        </md-input> 
 
                    </div>
                    <!-- name attribute must declare... -->
                    <div class="col-lg-12">
                        <md-input placeholder="Last Name" [(ngModel)]="customer.lastname" name="lastname" type="text" style="width: 100%">
                        </md-input> 
 
                    </div>
                    <!-- name attribute must declare... -->
                    <div class="col-lg-12">
                        <md-input placeholder="Email" [(ngModel)]="customer.email" name="email" type="text" style="width: 100%">
                        </md-input> 
 
                    </div>
                    <!-- name attribute must declare... -->
                    <div class="col-lg-12">
                        <md-input placeholder="Mobile Number" [(ngModel)]="customer.mobileNo" name="mobileNo" type="text" style="width: 100%">
                        </md-input> 
 
                    </div>
                    <!-- name attribute must declare... -->
                    <div class="col-lg-12">
                        <md-input placeholder="password" [(ngModel)]="customer.password" name="password" type="password" style="width: 100%">
                        </md-input> 
 
                    </div> 
                    <div class="clearfix">
                    </div>
                    <br/>
                    <div class="row col-lg-12">
                        <button class="pull-right" color="primary" md-raised-button="" 
                        (click)="addCustomer(customer)">SIGNUP</button>
                    </div>
                    <div class="clearfix">
                    </div>

                    <br/>
                    
                </md-card-content>
            </md-card>

            <div class="clearfix"></div><br /> 
        </div>
  
        </div> 
</form>
